<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная книги{% endblock %}</title>
</head>
<body>

<form action="{% url 'search_book' %}" method="get">
    {% csrf_token %}
    <input placeholder="Введите назание книги" type="text" , name="title">
    <input placeholder="Введите жанр книги" type="text" , name="genre">
    <input placeholder="Введите цену до " type="number" , name="price_lt">


    <input type="submit" value="OK">
</form>

{% block content %}

{% endblock  %}


</body>
</html>