<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Посты</title>
</head>
<body>
    <h1>
        Список постов:

    </h1>

    {% for post in posts %}

        <p>{{post.id}}.
            Название: <a href="{% url 'get_post' post.id %}">
            {{post.title}}
        </a>  - {{post.description}}</p>

    {%endfor%}

    <h1>
        Список тэгов:
    </h1>

    {% for tag in tags %}
    <p><a href="{% url 'get_tag' tag.title %}" >
        {{tag.title}}
    </a></p>
    {%endfor%}

<h2><a href="{% url 'add_post_tag' %}"> Добавить тэг</a></h2>



</body>
</html>