<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{post.id}}. Пост </title>
</head>
<body>

{% if post.image %}
<img style="width: 100px; height: 100px" src="{{ post.image.url }}">
{% endif %}


<h2>{{post.title}}</h2>

<p>{% if post.category.title %}</p>
Категория: {{post.category.title}}
{% else %}
<p> Категория: отсутствует</p>
{%endif%}

<p>Дата создания: {{post.date_create}}</p>
<br>

<p>{% if post.description %}</p>
Описание: {{post.description}}
{% else %}
<p> Описание отсутствует :( </p>
{%endif%}
<br>

<p> Теги:
    {% for tag in post.tags.all %}
    <b3>{{tag.title}}</b3>
    {%endfor%}
</p>


<br>
<hr>
<p>Добавил на сайт {{post.user.username}}</p>

{% if request.user.username == post.user.username %}
<a href="{% url 'update_post_by_id' post.id %}" > Редактировать пост </a>
<br>
<br>
<a href= '{%  url "delete_post" post.id %}' > Удалить пост </a>
{%endif%}

<br>
<hr>


</body>
</html>



